.button-54 {
  font-family: "Roboto Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  // letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0A1A51;
  cursor: pointer;
  border: 3px solid #0A1A51;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s ease-in-out;
}

.button-54:hover {
  box-shadow: #0A1A51 1px 1px 0px 0px , #0A1A51 2px 2px 0px 0px, #0A1A51 3px 3px 0px 0px, #0A1A51 4px 4px 0px 0px, #0A1A51 5px 5px 0px 0px;
  transition: box-shadow 0.2s ease-in-out;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.roboto {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.roboto-mono {
  font-family: "Roboto Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.inter {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.text-orange {
  color: #f8843d;
}

.text-dark-blue {
  color: #0A1A51;
}

// @media (min-width: 768px) {
//   .button-54 {
//     padding: 0.25em 0.75em;
//   }
// }
